[Desktop Entry]
Type=Application
Name=Show URL
Exec=/usr/local/bin/a37-show-url %u
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/http;x-scheme-handler/https;
